/* ==========================================================
   RESET PASSWORD PAGE
========================================================== */

.login-card .signup-heading p {
    margin-top: 10px;
    color: #756a78;
    font-size: 14px;
    line-height: 1.6;
}


/* Keep form full width */

#resetPasswordForm {
    width: 100%;
}